.TreeDirectory{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 64px);
    background: #fff;
    border-right:solid 1px #eee;
}
.TreeDirectory .head{
    text-align: center;
    padding: 0;
}
.TreeDirectory .head  a:focus{
    text-decoration: none;
}

.TreeDirectory .head .icon.plus{
    color: #14a2ff;
    font-weight: bold;
    font-size: 18px;
    margin: 0 5px;
    vertical-align: middle;
}
.TreeDirectory .head .icon.caret-down{
    color: #aaa;
    font-size: 6px;
    margin-left: 3px;
    vertical-align: middle;
}
.TreeDirectory .head{
    width: 100%;
    background: #fff;
    border-bottom:solid 1px #eee;
}
.TreeDirectory .menu-list .ant-menu-item{
    height: auto;
}
.TreeDirectory .menu-list{
    border-right: none;
}
.TreeDirectory .menu-list .ant-menu-item{
    left: 0;
}

.TreeDirectory .ant-tree-node-content-wrapper {
    width: calc(100% - 24px);
}
.TreeDirectory .ant-tree-iconEle{
    color: #1cb7ff;
    font-size: 16px;
    font-weight: 500;
}
.TreeDirectory .ant-tree-icon__open:before {
    content: "\E699";
    display: block;
    font-family: "anticon" !important;
}
.TreeDirectory .ant-tree-icon__close:before {
    content: "\E662";
    display: block;
    font-family: "anticon" !important;
}
.TreeDirectory .ant-tree-icon__docu:before {
    content: "\E664";
    display: block;
    font-family: "anticon" !important;
}

.TreeDirectory .sub-menu .ant-menu-submenu-title{
    margin-top: -42px;
    width: 0;
    z-index: 3;
    margin-left: 160px;
    padding: 20px !important;
}
.TreeDirectory .sub-menu.ant-menu-submenu-vertical{
    display: none;
}