
.EditArea{
    overflow: auto;
    height: calc(100vh - 64px);
    background: #fff;
    width: 100%;
    float: left;
}
.EditArea .RichEditor-root {
    width: 100%;
    height: calc(100vh - 128px);
    overflow: auto;
    border: none;
}
.EditArea .head{
    width: 100%;
    padding: 0 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
}
.EditArea .head .title{
    display: inline-block;
    width: calc(100% - 100px);
}
.EditArea .head .title:focus{
    border: none;
    outline: 0;
}
.EditArea .head .button-wrapper{
    position: relative;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
.EditArea .head button{
    margin-right: 0;
}
.EditArea .head .icon{
    width: 10%;
    margin: 0 auto;
    font-size: 16px;
}
.EditArea .content{
    width: 100%;
    display: flex;
}
.EditArea .content .editor{
    margin-top: 64px;
    overflow: auto;
    height: calc(100vh - 128px);
    width: 50%;
}
.EditArea .content .textarea{
    overflow: auto;
    outline: none;
    width: 100%;
    height: calc(100vh - 135px);
    resize: none;
}
.EditArea .content .editor .CodeMirror{
    overflow-y: auto;
    outline: none;
    width: 100%;
    height: calc(100vh - 135px);
}
.EditArea .content .editor .CodeMirror .CodeMirror-scroll{
    /*overflow: hidden !important;*/
}

.EditArea .content .preview{
    margin-top: 64px;
    padding: 2em;
    overflow: auto;
    height: calc(100vh - 128px);
    width: 50%;
}
