
.EditArea{
    overflow: auto;
    height: calc(100vh - 64px);
    background: #fff;
    width: 100%;
    float: left;
}
.EditArea .RichEditor-root {
    width: 100%;
    height: calc(100vh - 128px);
    overflow: auto;
    border: none;
}
.EditArea .head-wrap{
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    height: 64px;
}
.EditArea .head{
    height: 64px;
    width: 100%;
    padding: 0 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
}
.EditArea .head .title-wrapper{
    height: 100%;
    width: 50%;
    display: inline-block;
}
.EditArea .head .title{
    margin: 0;
    height: 90%;
    width: 100%;
    border: none;
}
.EditArea .head .title:focus{
    border: none;
    outline: 0;
}
.EditArea .head .button-wrapper{
    position: relative;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
.EditArea .head button{
    margin-right: 0;
}
.EditArea .head .icon{
    width: 10%;
    margin: 0 auto;
    font-size: 16px;
}
.EditArea .content{
    padding: 10px 0;
    width: 100%;
    height: calc(100% - 64px);
    min-height: calc(100% - 64px);
    display: flex;
}
.EditArea .content .scroll-content{
    width: 100%;
}

.EditArea .content .drag-bar{
    width: 9px;
    background: #eee;
    cursor: col-resize;
}

.EditArea .content .editor{
    overflow: auto;
    width: 50%;
    display: flex;
}

.EditArea .content .editor .CodeMirror{
    overflow-y: auto;
    outline: none;
    border: none;
    width: 100%;
    min-height: 100%;
    /*height: 100%;*/
    /*height: calc(100% - 64px);*/
}
.EditArea .content .editor .CodeMirror-scroll{
    overflow-x: hidden !important;
}

.EditArea .content .preview{
    padding: 2em;
    overflow: auto;
    width: 50%;
}
