@import '~antd/dist/antd.css';


::-webkit-scrollbar{
  width: 0;
  height: 6px;
}
.scrollbar:hover::-webkit-scrollbar{
  width: 7px;
}
.scrollbar:hover::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
.scrollbar:hover::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
.scrollbar:hover::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.3);
}
.scrollbar:hover::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.4);
}